<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAssetLabel" jhiTranslate="starbucksApp.asset.home.createOrEditLabel">Create or edit a Asset</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!asset.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="asset.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="starbucksApp.asset.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="asset.name" />
        </div>

        <div class="form-group" *ngIf="!currentAccount.cafe">
            <label class="form-control-label" jhiTranslate="userManagementCafe" for="field_cafe">Cafe</label>
            <select class="form-control" id="field_cafe" name="cafe" [(ngModel)]="asset.cafe"  required>
                <option *ngIf="!editForm.value.cafe" [ngValue]="null" selected></option>
                <option [ngValue]="cafeOption.id === asset.cafe?.id ? asset.cafe : cafeOption" *ngFor="let cafeOption of cafes; trackBy: trackCafeById">{{cafeOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.cafe?.dirty && editForm.controls.cafe?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.cafe?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
